{% if site.comments_enabled %}
  <aside id="comments" class="disqus">

    <div class="container">
      <h3><i class="icon icon-comments-o"></i> Comments</h3>
      <div id="disqus_thread"></div>

      <script type="text/javascript">
      var disqus_config = function () {
        this.page = this.page || {};
        this.page.url = '{{ page.url | prepend: site.baseurl | prepend: site.baseurl }}'; 
        this.page.identifier = '{{ page.url | prepend: site.baseurl | prepend: site.baseurl }}'; 
      }
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; 
            dsq.src = '//' + '{{ site.disqus_shortname }}' + '.disqus.com/embed.js';
            dsq.src = 'https://yucel-dev.disqus.com/embed.js';
            dsq.setAttribute('data-timestamp', +new Date());
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>

      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
      </noscript>
    </div>

  </aside>
{% endif %}
