<section class="intro">
  <div class="container">
    <p class="lead">Merhaba ben Hakan, yazılım dünyasındaki görüşleri, problemleri ve bu problemlere bulduğumuz çözümler üzerine yazıyorum.</p>
    <ul class="soc-user">
        <li><a href="{{"https://twitter.com/" | append:site.twitter_username}}"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="{{"https://github.com/" | append:site.github_username}}"><i style="color:dimgray;" class="fa fa-github fa-2x"></i></a></li>
      </ul>
  </div>
</section>